@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Slab:wght@700&display=swap');

* {
  font-family: "Open Sans";
}

a {
  color: #03c;
  &:hover {
    color: #363636;
    text-decoration: underline;
  }
}

.leaflet-container {
  cursor: pointer !important;
}

@media (max-width: 1024px) {
  .container {
    padding: 1.5rem;
  }
}

.n-base-selection-overlay__wrapper {
  font-weight: bold;
  color: #333;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 15px;
}
