.leaflet-container {
  cursor: pointer !important;
}

@media(max-width: 1024px) {
  .container {
    padding: 1.5rem;
  }
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 15px;
}